*{
    margin: 0px;
    padding: 0px;
}
.box{
    width: 700px;
    height: 50px;
    border: 1px solid black;
    margin: 0px auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 490px;
    background-color: darkblue;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
 h1{
    font-family: 'Lilita One', cursive;
 }   
.box1{
    width: 700px;
    margin: 0px auto;
    
}
.box2{
    width: 700px;
    margin: 0px auto;
    text-align: center;
}
h2{
    font-family: 'Kanit', sans-serif;
}
h3{
    font-family: 'Kanit', sans-serif;
}
.spn{
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}
button{
    font-family: 'Kanit', sans-serif;
    font-size: 22px;
    border: none;
    background-color: rgb(255, 157, 0);
    padding: 9px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 10px;
}
.box3{
    width: 700px;
    height: 50px;
    padding-top: 20px;
    font-size: 30px;
    margin: 0px auto;
    text-align: center;
    background-color: darkcyan;
    color: white;
}
.box4{
    width: 700px;
    height: 18px;
    margin: 0px auto;
    background-color: cyan;
}
.box5{
    width: 700px;
    text-align: center;
    margin: 0px auto;
    padding-top: 20px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}
.box6{
    width: 700px;
    margin: 0px auto;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 50px;
    color: grey;
    font-family: 'Open Sans', sans-serif;
}
a{
    color: grey;
}
